{:episodes [{:id 123 :character-sprite "teacher" :level-ids [3]}
            {:id 456 :character-sprite "farmer" :level-ids [4]}]

 :levels [{:id 3 :name "Level 3" :word-ids [1 5 7 9 10]}
          {:id 4 :name "Level 4" :word-ids [10 12 15 16]}]

 :words [{:id 1 :text "apple" :translation "manzana" :image "apple-image"}
         {:id 5 :text "orange" :translation "naranja" :image "orange-image"}
         {:id 7 :text "pear" :translation "pera" :image "pear-image"}
         {:id 9 :text "banana" :translation "banana" :image "banana-image"}
         {:id 10 :text "grapes" :translation "uvas" :image "grapes-image"}
         {:id 12 :text "raspberry" :translation "frambuesa" :image "raspberry-image"}
         {:id 15 :text "tangerine" :translation "mandarina" :image "tangerine-image"}
         {:id 16 :text "pomegranate" :translation "granada" :image "pomegranate-image"}] }
